<table class="table table-striped">


  <tr><th>S.no</th><th>Stored Procedures</th><th>Last Run Status</th><th>Action</th></tr>
  <tr><td>1</td><td>SP1</td><td>Success at 12:12:12</td><td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button></td></tr>

</table>
<p ng-bind="response"></p>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Schedule for SP1 Stored Procedure</h4>
      </div>
      <div class="modal-body form-group">
        <div class="row">

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="Every" ng-model="data.everySec"> Every
            </span>
            <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="data.SelectedSec">
              <option ng-repeat="option in cronScheduleOptions.sec" value="{{option}}">{{option}}</option>
            </select>
            <span class="input-group-addon" id="server">Second</span>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="Every" ng-model=data.everyMin> Every
            </span>
            <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="data.SelectedMin">
              <option ng-repeat="option in cronScheduleOptions.sec" value="{{option}}">{{option}}</option>
            </select>
            <span class="input-group-addon" id="server">Minute</span>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="Every" ng-model=data.everyHour> Every
            </span>
            <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="data.selectedHour">
              <option ng-repeat="option in cronScheduleOptions.hour" value="{{option}}">{{option}}</option>
            </select>
            <span class="input-group-addon" id="server">Hour</span>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="Every" ng-model=data.everyMonth> Every
            </span>
            <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="data.sec">
              <option ng-repeat="option in cronScheduleOptions.month" value="{{option.value}}">{{option.displayValue}}</option>
            </select>
            <span class="input-group-addon" id="server">Month</span>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="Every" ng-model=data.everyDayOfWeek> Every
            </span>
            <select name="repeatSelect" class="form-control" id="repeatSelect" ng-model="data.sec">
              <option ng-repeat="option in cronScheduleOptions.dayOfWeek" value="{{option.value}}">{{option.displayValue}}</option>
            </select>
            <span class="input-group-addon" id="server">Day Of Week</span>
          </div>















          <br>
          <div class="input-group">
            <span class="input-group-addon" id="user">Message</span>
            <input type="text" class="form-control" placeholder="Username e.g. root" aria-describedby="user" name="message">
          </div>
          <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
